In [13]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df_tw = df1.query('國家=="台灣"')
df_jp = df1.query('國家=="日本"')
df_us = df1.query('國家=="美國"')
tw_max = int(df_tw["新增確診數"].max())
jp_max = int(df_jp["新增確診數"].max())
us_max = int(df_us["新增確診數"].max())
tw_max_row = df_tw.query("新增確診數==@tw_max")
jp_max_row = df_jp.query("新增確診數==@jp_max")
us_max_row = df_us.query("新增確診數==@us_max")
result = pd.concat([tw_max_row,jp_max_row,us_max_row])
display(result)

         洲名  國家          日期      總確診數    新增確診數       總人口數
164835   亞洲  台灣  2022-05-14    699824   128954   23855008
86369    亞洲  日本  2022-02-03   3019169   104345  126050796
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074

In [14]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df_jp = df1.query('國家=="日本"')
df_us = df1.query('國家=="美國"')
jp_max = int(df_jp["新增確診數"].max())
us_max = int(df_us["新增確診數"].max())
df_jp.query("新增確診數==@jp_max")
df_us.query("新增確診數==@us_max")
result = pd.concat(["jp_max","us_max"])
display(result)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [ ]:
df_jp = df1.query('國家=="日本"')
df_jp

In [ ]:
df_us = df1.query('國家=="美國"')
df_us

In [ ]:
tw_max1 = int(df_jp["新增確診數"].max())
tw_max1

In [ ]:
tw_max2 = int(df_us["新增確診數"].max())
tw_max2

In [ ]:
display(df_jp.query("新增確診數==@tw_max1"))
display(df_us.query("新增確診數==@tw_max2"))